<div class="card my-5">
    <div class="card-body">
      <form>
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-danger" (click)="onLogout()">Logout</button>  
        </div>
        <h6>To add a customer, Please click the following button:</h6>
        <hr>
        <div class="button-group">
            <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-primary" (click)="onCreateAccount()">Create New Account</button>
            </div>
        </div>
      </form>
    </div>
  </div>